body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
button {
	text-align: center;
    border: none;
}
.container {
	background-color: #ffffff;
	text-align: center;
}
.main-header {
	position: relative;
}
.site-navigation {
	list-style: none;
	font-weight: 700;
	color: #000000;
	padding: 0px;
	margin: 0px;
}
.site-navigation a{
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}
.site-navigation a.active {
	color: #766357;
}
.site-navigation a:active {
	color: #b2b2b2;
}
.main-header-logo{
	position: absolute;
	width: 240px;
}
.welcome {
	background-image: url("../img/welcome-bg.jpg");
	background-position: top center;
	background-size: cover;
}
.intro-title {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}
.search-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.search-form {
	width: 570px;
	font-weight: 700;
}
.search-btn {
	width: 567px;
	text-transform: uppercase;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	border: none;
	font-weight: 700;
}
.search-btn:hover,
.search-btn:focus {
	background-color: #604e43;
}
.search-btn:active {
	color: #857871;
	background-color: #503e33;
}
.field-wrapper input {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	padding: 0px;
	margin: 0px;
	background-color: #f2f2f2;
	border: none;
}
.field-wrapper input:hover {
	background-color: #f2f2f2;
}
.field-wrapper input:focus {
	background-color: #ffffff;
}
.field-wrapper-half input {
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	padding: 0px;
	margin: 0px;
	background-color: #f2f2f2;
	border: none;
}
.search-form-btn {
	text-transform: uppercase;
	width: 458px;
	height: 60px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
	font-weight: 700;
}
.search-form-btn:hover,
.search-form-btn:focus {
	background-color: #669ec0;
}
.search-form-btn:active {
	color: #88b6d1;
	background-color: #5496bd;
}
.social-list, .hotels-list {
	list-style: none;
}
.button-blue {
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
	font-weight: 700;
}
.button-blue:hover,
.button-blue:focus {
	background-color: #669ec0;
}
.button-blue:active {
	color: #88b6d1;
	background-color: #5496bd;
}
.button-dark {
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	background-color: #766357;
	border: none;
	font-weight: 700;
}
.button-dark:hover,
.button-dark:focus {
	background-color: #604e43;
}
.button-dark:active {
	color: #857871;
	background-color: #503e33;
}
.hotels-item-image {
	color: #000000;
}
.hotels-item-image:hover,
.hotels-item-image:focus {
	color: #81b3d2;
}
.hotels-item-image:active {
	color: #b2b2b2;
}
.hotels-item-rating p {
	background-color: #f2f2f2;
	padding: 10px 15px;
}
.social-list a {
	width: 46px;
	height: 48px;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
}
.social-list a:hover,
.social-list a:focus {
	background-color: #669ec0;
}
.social-list a:active {
	color: #88b6d1;
	background-color: #5496bd;
}
.footer-copyright-link {
	color: #000000;
}
.footer-copyright-link:hover,
.footer-copyright-link:focus {
	color: #81b3d2;
}
.footer-copyright-link:active {
	color: #b2b2b2;
}
.hashtag {
	width: 21px;
	height: 26px;
	font-weight: 700;
}
